#tags {
  display: inline;

  .tag,.new_tag {
    display: inline-block;
    margin: 0.2em;
    border: solid 2pt #EEF;
    padding: 0 0.7em;
    border-radius: 1em;
    background-color: #FBFBFF;
  }
}
