#tags {
  float: left;
  border: solid 2pt #EEF;
  border-radius: 1em;
  background-color: #FBFBFF;

  width: 180px;
  max-height: 400px;
  overflow-y: auto;

  .tag,.new_tag {
    display: block;
    margin: 0.2em;
    padding: 0 0.7em;
  }
}
